
/* fixed typeahead 0.11.1 CSS */
.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
    margin-bottom: 0;
}

.tt-menu {
    min-width: 160px;
    margin-top: 2px;
    padding: 5px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    /* -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175); */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
}

.tt-suggestion {
    display: block;
    padding: 3px 20px;
    width: 100%;
}

.tt-suggestion.tt-selectable {
    margin: 5px 0px 5px 0px;
}

.tt-suggestion.tt-cursor {
    color: #fff;
    background-color: #428bca;
}

.tt-suggestion.tt-cursor a {
    color: #fff;
}

.tt-suggestion p {
    margin: 0;
}

#pageHeading {
    display: block;
    background-color: rgb(154, 248, 154);
    color: rgb(72, 44, 44);
    text-align: left;
    font-size: xx-large;
    font-weight: bold;
    padding: 25px;
    margin-bottom: 20px;
    border-bottom: solid 1px rgb(72, 44, 44);
    border-top: solid 1px rgb(72, 44, 44);
}

.sectionHeadings {
    color: rgb(72, 44, 44);
    font-weight: bold;
    display: block;
}


/* Style the search field */

.search input[type=text] {
    padding: 10px;
    margin-top: 10px;
    font-size: 17px;
    border: 1px solid rgb(72, 44, 44);
    background: #f1f1f1;
}

.search input[type=text]:focus {
    border: 1px solid rgb(154, 248, 154);
    color: rgb(72, 44, 44);
    box-shadow: 0 1px 3px 0 rgba(56, 56, 56, .3);
}


/* Style all buttons */

button {
    height: 47.34px;
    margin-bottom: 20px;
    background: rgb(154, 248, 154);
    color: rgb(72, 44, 44);
    font-size: 17px;
    margin-top: 10px;
    border: 1px solid rgb(72, 44, 44);
    border-radius: 12px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
}

button:hover {
    background: rgb(72, 44, 44);
    color: white;
}

aside, main {
    margin: 25px;
    padding: 20px;
}

.sectionContent {
    background-color: rgb(154, 248, 154);
    color: rgb(72, 44, 44);
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: solid 1px rgb(72, 44, 44);
    box-shadow: 15px 15px 5px -5px hsla(0, 0%, 60.8%, .45);
}

#fiveRecipes div {
    display: inline-block;
    margin-right: 10px;
    margin-left: 0px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    border: 1px solid #ddd;
    /* margin-top: -1px; Prevent double borders */
    margin-top: 3px;
    background-color: #f6f6f6;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: rgb(72, 44, 44);
    display: block;
    position: relative;
    opacity: 0;
    transition: opacity 1s ease-in-out 0s;
}

.fadeOpacity {
    opacity: 1;
}

ul li:hover {
    background-color: #eee;
}

.removeIngredient {
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 0%;
    padding: 12px 16px;
    transform: translate(0%, -50%);
}

.removeIngredient:hover {
    background: #bbb;
    color: red;
}

.modal-content {
    width: 450px;
}

footer {
    background-color: rgb(154, 248, 154);
    color: rgb(72, 44, 44);
    text-align: center;
    font-weight: bold;
    border-top: solid 1px rgb(72, 44, 44);
    border-bottom: solid 1px rgb(72, 44, 44);
    padding: 10px;
}

@media screen and (min-width: 1408px) {
    .container {
        max-width: 100%;
    }
}

#fiveRecipes {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-evenly;
}

.card {
    background-color: rgb(154, 248, 154);
    color: rgb(72, 44, 44);
    margin-top: 20px;
    border: solid 1px rgb(72, 44, 44);
    box-shadow: 15px 15px 5px -5px hsla(0, 0%, 60.8%, .45);
}

.card:hover{
    cursor: pointer;
}

.card:active{
    box-shadow: none;
    background-color: rgb(72, 44, 44);
    border: solid 1px rgb(154, 248, 154);
}